* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background-color: #f0f0f0;
}
.container {
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.form h1 {
  color: #50b8cf;
  text-align: center;
}

.form-control {
  margin: 5px 0;
}

.form-control label {
  display: block;
  margin-bottom: 2px;
}

.form-control span {
  display: block;
  font-size: 0.6rem;
}

.form-control input {
  width: calc(100% - 10px);
  padding: 5px;
  margin: 4px 0;
  border: 1px solid #50b8cf;
  border-radius: 5px;
}

input:focus {
  outline-color: #50b8cf;
  box-shadow: 0 0 10px rgba(80, 184, 207, 0.7);
}

#register {
  padding: 5px 20px;
  color: #f7f7f7;
  background-color: #008cba;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#register:hover {
  background-color: #72bad2;
  transition: ease 0.5s;
}

.form-control span {
  color: #e74c3c;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: none;
  }
}
